body{
  margin:0;
  background:#0f172a;
  color:white;
  font-family:Arial;
}

.container{
  text-align:center;
  margin-top:150px;
}

h1{
  font-size:60px;
}

p{
  font-size:22px;
}

button{
  margin-top:20px;
  padding:14px 28px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:12px;
  font-size:18px;
}

nav{
 padding:20px;
 font-size:22px;
}